<!DOCTYPE html>
<html lang="en">
<head>
  <% include partial/header.ejs %>

  <script>
  $(function () { 

    $.material.init(); 

    var roomName = encodeURIComponent(location.href.split('?')[1]);

    console.log('chating at room', roomName);

    if ( !roomName ) { alert('wrong room name!'); return; }

    var userName = $.cookie('caw-user-name');

    if (!userName) { login(); }

    var $input = $('#msg-input').focus();
    var $userNameSpan = $("#userNameSpan").text(userName);
    var $msgList = $('#msg-list');
    var msgItemTpl = $("#msg-item-tpl").html();

    $("#changeNameBtn").click(login);

    var socket = io();

    socket.emit('init', { room: roomName, userName: userName });

    socket.on('chat-message', function (msg) {

      appendNewMsg(msg);

      $('body').scrollTop($(document).height());

      $input.focus();
    });

    $('#msg-input-form').submit(function(){
      var value = $input.val().trim();
      if (!value) { return; }
      socket.emit('chat-message', { msg: value });
      $input.val('');
      return false;
    });

    function appendNewMsg (data) {
      data.msg.dateFormated = moment(data.msg.date).fromNow();
      $msgList.append(_.template(msgItemTpl, data));
    }

    function login() {

      location.href = 'login?' + roomName;
    }

    window.setInterval(function () {
      $msgList.find('.msg-date').each(function () {
        var date = +$(this).attr('data-date');
        $(this).text(moment(date).fromNow());
      });
    }, 20000);

  });
  </script>
</head>
<body class="container">
  <div class="page">

    <div id="msg-list" class="row">

    </div>

    <form id="msg-input-form" autocomplete="off">
      <input type="text" id="msg-input" class="form-control empty" placeholder="what do you want to say?" />
      <button type="submit" class="hide btn btn-primary btn-xs">SEND</button>
      <span class="change-name-span">
        Your name is <span id="userNameSpan"></span>,&nbsp;
        <a id="changeNameBtn" href="javascript:void(0);">change name</a></span>
    </form>
  </div>

  <script type="text/template" id="msg-item-tpl">
    <div class="col-md-8 msg-item">
      <span class="user-name">{{ user.name }}</span>:
      <span class="msg-content">{{ msg.content }}
      </span>
      <div class="msg-date" data-date="{{ msg.date }}">{{ msg.dateFormated }}</div>
    </div>
  </script>
</body>
</html>