* { margin: 0 auto; padding: 0; }

body { background: #FFF; }

#msg-input-form {
  margin-top: 10px;
}

.msg-item {
  margin-top: 5px;
}

.msg-item .user-name {
  font-size: 12px;
  font-weight: bold;
}

.msg-item .msg-content {
  font-size: 12px;
  padding-left: 0.5em;
}

.msg-item .msg-date {
  color: #AAA;
  font-size: 10px;
}

.change-name-span {
  font-size: 12px;
  color: #BBB;
}

#load-more {
  text-align: center;
  widows: 100%;
}