<meta charset="UTF-8">
<title><%= title %></title>

<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/material.min.css">
<link rel="stylesheet" href="/stylesheets/ripples.min.css">
<link rel="stylesheet" href="/stylesheets/material-wfont.min.css">
<link rel="stylesheet" href="/stylesheets/chat.css">
<script src="/javascripts/lodash.js"></script>
<script>
_.templateSettings = {
  interpolate: /\{\{(.+?)\}\}/g
};
</script>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery.cookie.js"></script>
<script src="/javascripts/moment.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/material.min.js"></script>
<script src="/javascripts/ripples.min.js"></script>
<script src="/javascripts/socket.io.js"></script>